In [4]:
planet_names = ["水","金","地","火","木","土","天","海","冥"]

i = 0
while i < 2:
    for planet_name in planet_names:
        print(planet_name)
    i = i + 1

水
金
地
火
木
土
天
海
冥
水
金
地
火
木
土
天
海
冥

TypeError: 'type' object is not iterable